#board-container {
  display: flex;
  justify-content: space-evenly;
}

#board-player,
#board-computer {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  pointer-events: none;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.ship {
  background-color: blue;
}

.hit {
  background-color: red;
}

.miss {
  background-color: grey;
}
