body {
  font-family: Arial, Helvetica, sans-serif;
}

#board-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
}

.game-over {
  pointer-events: none;
}

#board-player,
#board-computer {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  pointer-events: none;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.ship-5 {
  background-color: rgb(80, 0, 255);
}

.ship-4 {
  background-color: rgb(0, 0, 255);
}

.ship-3a,
.ship-3b {
  background-color: rgb(0, 80, 255);
}

.ship-2 {
  background-color: rgb(0, 150, 255);
}

.hit {
  background-color: red;
}

.miss {
  background-color: grey;
}

#btns-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

button {
  font-size: 1em;
  border: none;
  border-radius: 6px;
  padding: 1em;
  color: white;
  background-color: rgb(0, 136, 255);
  cursor: pointer;
}

#game-over-screen {
  text-align: center;
}

#game-over-text {
  font-size: 36px;
}
